@import "../../GLOBAL_VARIABLES.scss";

.todosPlace {
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    box-shadow: 0px 0px 5px black;
    border-radius: 15px;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.emptyTodosContent {
    padding: 10px 15px;
    text-align: center;
    font-size: 1.4rem;
}

.todosPlaceButtons {
    padding: 10px 15px;
    display: flex;
    flex-grow: 1;
    max-width: 200px;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid rgb(0, 0, 0);

    @media (max-width: 992px) {
        max-width: none;
        border-right: none;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    button {
        padding: 5px 10px;
        background: white;
    }

    button.all {
        background: $otherColor;
    }

    button.active {
        background: $activeColor;
    }

    button.completed {
        background: $completedColor;
    }
}

.todosPlaceContent {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
    flex-grow: 1;
}
