@import "../../GLOBAL_VARIABLES.scss";

.todosPlace {
    padding: 25px 10px;
    display: flex;
    gap: 5px;
    box-shadow: 0px 0px 8px $borderColor;
    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.emptyTodosContent {
    padding: 10px 15px;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
}

.todosPlaceButtons {
    padding: 10px 15px;
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    gap: 15px;
    border-right: 2px solid $activeColor;

    @media (max-width: 992px) {
        border-right: none;
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    button {
        font-family: inherit;
        font-size: 1.4rem;
        color: inherit;
        border: 2px solid $borderColor;
        padding: 5px 10px;
        background: $backgroundColor;
        &:hover {
            box-shadow: 0px 0px 5px black;
        }
    }
}

.todosPlaceContent {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    flex-grow: 1;
    @media (max-width: 992px) {
        flex-direction: column;
        justify-content: space-around;
    }
}
