@import "../../../GLOBAL_VARIABLES.scss";

.todo {
    word-break: break-all;
    box-shadow: 2px 2px 7px black;
    background: rgb(189, 189, 189);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    &:hover {
        box-shadow: 0px 0px 9px black;
    }
    mark {
        background: rgb(251, 153, 153);
    }
}

.active {
    background: $activeColor;
}

.completed {
    background: $completedColor;
}

.title {
    padding: 5px 10px;
    border-bottom: 2px solid $backgroundColor;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
}

.body {
    position: relative;
    max-height: 250px;
    overflow: hidden;
    flex-grow: 1;
    font-size: 1.4rem;
}

.date {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;

    color: $dateTextColor;

    .dateStart,
    .completeDate {
        background: $backgroundColor;
        padding: 5px 10px;
    }

    @media (max-width: 992px) {
        .dateStart {
            border-bottom: 2px solid $otherColor;
        }
        flex-direction: column;
    }
}

.btns {
    padding-top: 10px;
    border-top: $backgroundColor 2px solid;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
        border-radius: 10px;
        display: flex;
        padding: 5px 10px;

        &:hover {
            background: white;
        }
        &:focus {
            outline: 1px solid black;
        }
        img {
            width: 32px;
            height: 32px;
            max-width: 100%;
        }
    }
    .activeBtn {
        &:hover {
            background: rgba(50, 50, 50, 0.5);
        }
    }
    .editBtn {
        &:hover {
            background: rgba(50, 50, 50, 0.5);
        }
    }
    .completedBtn {
        &:hover {
            background: rgba(50, 50, 50, 0.5);
        }
    }
    .removeBtn {
        &:hover {
            background: rgb(255, 0, 0);
        }
    }
    @media (max-width: 992px) {
        justify-content: space-around;
    }
}
