@import "../../../GLOBAL_VARIABLES.scss";

.todo {
    word-break: break-all;
    box-shadow: 2px 2px 7px black;
    background: rgb(189, 189, 189);
    padding: 10px 10px;
    display: flex;
    flex: 0 0 30%;
    min-width: 225px;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    &:hover {
        box-shadow: 0px 0px 9px black;
    }
    @media (max-width: 992px) {
        min-width: none;
    }
    mark {
        background: rgb(251, 153, 153);
    }
}

.active {
    background: $activeColor;
}

.completed {
    background: $completedColor;
}

.title {
    background: linear-gradient($textColor 70%, rgba(0, 0, 0, 0) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 10px;
    border-bottom: 2px solid $backgroundColor;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    @media (max-width: 992px) {
        font-size: 1.2rem;
    }
}

.body {
    background: linear-gradient($textColor 70%, rgba(0, 0, 0, 0) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    min-height: 150px;
    max-height: 250px;
    overflow: hidden;
    flex-grow: 1;
    font-size: 1.4rem;
    @media (max-width: 992px) {
        font-size: 1rem;
    }
}

.date {
    height: 80px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    color: $dateTextColor;

    .dateStart,
    .completeDate {
        background: $backgroundColor;
        padding: 5px 10px;
    }

    @media (max-width: 992px) {
        .dateStart {
            border-bottom: 2px solid $otherColor;
        }
    }
}

.btns {
    padding-top: 10px;
    border-top: $backgroundColor 2px solid;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
        display: flex;
        padding: 5px 10px;

        &:hover {
            background: white;
        }
        &:focus {
            outline: 1px solid black;
        }
        img {
            width: 32px;
            height: 32px;
            max-width: 100%;
        }
    }
    .activeBtn {
        &:hover {
            background: rgba(50, 50, 50, 0.5);
        }
    }
    .editBtn {
        &:hover {
            background: rgba(50, 50, 50, 0.5);
        }
    }
    .completedBtn {
        &:hover {
            background: rgba(50, 50, 50, 0.5);
        }
    }
    .removeBtn {
        &:hover {
            background: rgb(255, 0, 0);
        }
    }
    @media (max-width: 992px) {
        justify-content: space-around;
    }
}

.deleteWarningMessage {
    display: flex;
    gap: 15px;
    flex-direction: column;
    h2 {
        font-size: 2rem;
    }
    cursor: auto;
    padding: 10px 15px;
    background: $backgroundColor;
    border: 2px solid $borderColor;

    button {
        padding: 10px 15px;
    }

    .acceptRemoveBtn {
        outline: 2px solid $borderColor;
        width: 100px;
        &:hover {
            color: white;
            background: red;
            box-shadow: 0 0 5px rgb(0, 0, 0);
        }
    }
    .cancelRemoveBtn {
        outline: 2px solid $borderColor;
        color: $textColor;
        width: 100px;
        &:hover {
            color: white;
            background: $activeColor;
            box-shadow: 0 0 5px rgb(0, 0, 0);
        }
    }
}

.deleteWarningBtns {
    display: flex;
    justify-content: space-around;
}
