@import "../../../GLOBAL_VARIABLES.scss";

.sortBtn {
    padding: 10px 15px;
    border: 1px solid black;

    input {
        visibility: hidden;
    }
}

.sortActive {
    background: $otherColor;
}
