@import "../../../GLOBAL_VARIABLES.scss";

.addTodoForm {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        padding: 0px 15px;
        height: 60px;
    }

    button {
        padding: 5px 10px;
        align-self: center;
        width: 200px;
    }
}
.addBtn {
    &:hover {
        background: $otherColor;
    }
}

.addBtnPlus {
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
}
