@import "../../GLOBAL_VARIABLES.scss";

.search {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.searchInput {
    padding: 10px 15px;
    font-size: 1.5rem;
    &:focus {
        outline: black 2px solid;
    }
}

.searchCheckboxInputs {
    display: flex;
    justify-content: center;
    gap: 10px;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.searchLabel {
    font-size: 1.4rem;
    outline: 2px solid $borderColor;
    padding: 10px 15px;
}
.activeSearchLabel {
    outline: 2px solid $otherColor;
    background: $otherColor;
}
