@import "../../../../GLOBAL_VARIABLES.scss";

.todoCard {
    cursor: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background: $backgroundColor;
    padding: 10px 15px;
    min-width: 300px;
    max-width: 80vw;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: center;
}

.title {
    background: $activeColor;
    font-size: 1.5rem;
    padding: 10px 15px;
}

.body {
    min-height: 100px;
}

.btns {
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    button {
        padding: 5px 10px;
        border: 2px solid $borderColor;
    }
    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.editBtn {
    &:hover {
        color: $activeTextColor;
        background: $activeColor;
    }
}
.removeBtn {
    &:hover {
        color: $activeTextColor;
        background: rgb(255, 0, 0);
    }
}
